html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: #000;
}

/* Asegura que el div raíz de tu aplicación React también ocupe todo el espacio */
#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}
